// Colors
$color-primary: #e92b43;
$color-dark: #1a1a1a;
$color-white: #ffffff;
$color-text-muted: #a0a0a0;
$color-bg-tag: #f2f2f5;
$color-text-dark: #000000;
$color-text-gray: #727276;
$color-text-gray-dark: #4c4c4f;
$color-text-blue: #123d4b;

$color-header-bg: #123d4b;
$color-green-logo: #00d16a;
$color-header-text: #a0aeb7;
$color-header-subtext: #8fa4a7;

// Grid & Spacing
$container-width: 1240px;
$gutter: 20px;

// Breakpoints
$bp-tablet: 768px;
$bp-mobile: 480px;

// Font
$font-main: "Roboto", sans-serif;
