@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "base/reset";
@use "base/fonts";
@use "components/header";
@use "components/footer";
@use "components/ticket-card";
@use "sections/tickets";
@use "sections/controls";
@use "base/animations";

body {
    background: url("/public/images/background/background-poster.png") no-repeat
        center center fixed;
    background-size: cover;
    min-height: 100vh;
    font-family: $font-main;
    color: $color-white;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: $container-width;
    background-color: $color-white;
}
