@use "../abstracts/index" as *;

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__links {
        gap: 10px;
        display: flex;

        a {
            padding: 16px;
            font-size: 14px;
            color: $color-dark;
            text-decoration: none;

            &.active {
                border-bottom: 2px solid $color-primary;
            }
        }
    }

    &__actions {
        display: flex;
        gap: 15px;

        button {
            padding: 8px 20px;
            border-radius: 20px;
            font-weight: 600;
            border: none;
            font-size: 14px;
            transition: all 0.4s ease;

            &:hover {
                filter: brightness(1.1);
                transform: translateY(-2px);
            }
        }

        .btn-login {
            color: white;
            background-color: $color-primary;
        }

        .btn-review {
            color: $color-dark;
            background-color: $color-bg-tag;
            transition: all 0.7s ease;

            &:hover {
                transform: translateY(-2px);
                transition: all 0.2s ease;
                background: $color-dark;
                color: $color-white;
            }

            &:active {
                color: $color-dark;
                background: $color-bg-tag;
                transition: all 0.2s ease;
            }
        }
    }
}

.calendar-bar {
    padding: 0 0 20px 0 !important;

    &__items {
        gap: 10px;
        display: flex;
        overflow-x: auto;
        padding: 10px 40px;
        background-color: $color-bg-tag;
    }

    .calendar-item {
        background: none;
        border: none;
        padding: 8px 20px;
        border-radius: 20px;
        white-space: nowrap;
        cursor: pointer;
        font-size: 14px;
        color: $color-gray-dark;
        transition: all 0.3s ease;

        &.active {
            color: $color-white;
            background-color: $color-primary;
        }

        &:hover:not(.active) {
            background-color: $color-bg-light;
        }
    }
}

@include tablet {
    .nav-bar {
        &__links {
            gap: 5px;
            padding: 5px 0;
            flex-wrap: nowrap;

            a {
                padding: 10px 12px;
                font-size: 13px;
            }
        }

        &__actions {
            display: none;

            button {
                flex: 1;
                padding: 10px 15px;
                font-size: 12px;
            }
        }
    }
}

@include mobile {
    .nav-bar {
        &__links {
            gap: 5px;
            padding: 5px 0;
            flex-wrap: nowrap;

            a {
                padding: 10px 12px;
                font-size: 13px;
            }
        }

        &__actions {
            display: none;

            button {
                flex: 1;
                padding: 10px 15px;
                font-size: 12px;
            }
        }
    }
}
