@use "../abstracts/index" as *;

.ticket-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
    justify-content: flex-start;

    @media (max-width: 1200px) {
        justify-content: center;
        gap: 20px;
    }

    @include tablet {
        justify-content: center;
        gap: 20px;
    }

    @include mobile {
        grid-template-columns: 1fr;
    }
}
