@use "../abstracts/index" as *;

.footer {
    width: 100%;
    margin: 0 auto;
    color: $color-gray-light;
    max-width: $container-width;
    background-color: $color-header-bg;

    &__container {
        display: flex;
        padding: 24px 40px;
        align-items: center;
        background-color: $color-blue;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;

        &-title {
            color: $color-white;
            font-size: 16px;
        }

        &-link {
            font-size: 13px;
            color: $color-light-gray;
        }
    }

    }
}

@include tablet {
    .footer {
        &__container {
            flex-direction: column;
            gap: 20px;
            text-align: center;
        }
    }
}
